{
    "exclude": [
        ".yarn/**",
        "scripts/**",
        "skills/**/__init__.py"
    ],
    "include": [
        "skills/**/*.py"
    ],
    "reporter": [
        "text",
        "json-summary"
    ],
    "per-file": true,
    "clean": true,
    "lines": 80,
    "functions": 80,
    "branches": 80,
    "statements": 80
}
